<div class="container">
  <div class="evaluation">
    <span><img src="../../assets/images/icon-star.svg" alt="icon-star" class="starbtn"></span>
    <h1 class="heading">How did we do?</h1>
    <p class="paragraph">
      Please let us know how we did with your support request. All feedback is appreciated
      to help us improve our offering!
    </p>
    <div class="btn-container" *ngFor="let button of buttons">
      <app-rating
        [buttonID]="button"
        [rating]="hoverState || rating"
        (buttonEnter)="onButtonEnter($event)"
        (buttonLeave)="onButtonLeave()"
        (buttonClick)="onButtonClick($event)">
      </app-rating>
    </div>
    <button class="btn-submit">SUBMIT</button>
  </div>
  <div class="thankyou"></div>
</div>