* {
    box-sizing: border-box;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2em;
    border-radius: 25px;
    background-color: var(--darkBlue);
    margin: 1.5rem;
    max-width: 26rem;
}

.heading {
    font-weight: 700;
    color: var(--white);
    margin-top: 3rem;
}

.paragraph {
    font-size: 15px;
    font-weight: 400;
    color: var(--lightGrey);
    padding-top: 0;
    line-height: 1.5em;
}

.buttons {
    justify-content: space-between;
    display: flex;
    padding-top: 1rem;
}

.starbtn {
    background-color: var(--mediumGrey);
    border-radius: 1.5rem;
    padding: 1em;
}


.btn-circle {
    border: 0px;
    background-color: var(--mediumGrey);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    color: hsl(217, 12%, 63%);
}

.btn-circle:hover {
    background-color: var(--lightGrey);
    color: var(--white);
}

.btn-circle:active {
    background-color: var(--orange);
    color: var(--white);
}

.btn-submit {
    margin-top: 2.5rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    height: 2.8rem;
    border: 0;
    letter-spacing: 2.5px;
    color: var(--white);
    background-color: var(--orange);
    font-family: Overpass, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.btn-submit:hover {
    background-color: var(--white);
    color: var(--orange);
}