<div class="container">
  <div *ngIf="!submitted" class="evaluation">
    <span><img src="../../assets/images/icon-star.svg" alt="icon-star" class="starbtn"></span>
    <h1 class="heading">How did we do?</h1>
    <p class="paragraph">
      Please let us know how we did with your support request. All feedback is appreciated
      to help us improve our offering!
    </p>
    <div class="buttons" [formGroup]="ratingForm">

      <label class="rating" *ngFor="let button of buttons" [ngClass]="{'selected': selected === button}">
        <input formControlName="rating" type="radio" class="btn-circle" [value]="button">
        <span class="circle">{{button}}</span>
      </label>

    </div>
    <button class="btn-submit" (click)="onSubmit()">SUBMIT</button>
  </div>
  <div *ngIf="submitted" class="thankyou">
    <span><img src="../../assets/images/illustration-thank-you.svg" alt="img" class="illustration"></span>
    <p class="selected-rating">You selected {{ selected }} out of 5</p>
    <h1 class="heading">Thank you!</h1>
    <p class="paragraph">
      We appreciate you taking the time to give a rating. If you ever need more support,
      don’t hesitate to get in touch!
    </p>
  </div>
</div>