<div class="container">
  <div class="evaluation">
    <span><img src="../../assets/images/icon-star.svg" alt="icon-star" class="starbtn"></span>
    <h1 class="heading">How did we do?</h1>
    <p class="paragraph">
      Please let us know how we did with your support request. All feedback is appreciated
      to help us improve our offering!
    </p>
    <div class="buttons" [formGroup]="ratingForm">

      <label class="rating" *ngFor="let button of buttons" [ngClass]="{'selected': selected === button}">
        <input formControlName="rating"
              type="radio"
              class="btn-circle"
              [value]="button">
        <span class="circle">{{button}}</span>
      </label>

    </div>
    <button class="btn-submit">SUBMIT</button>
  </div>
  <div class="thankyou"></div>
</div>
